body {
  font-family: "Open Sans", sans-serif;
}

.red-text {
  color: red;
}

.blue-text {
  color: blue;
}

ul li:last-child {
  color: pink;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.purple-circle {
  width: 50px;
  height: 50px;
  background-color: purple;
  border-radius: 50%;
  transform: scale(1);
  transition: all 200ms 0ms ease-in;
}

.dropdown {
  margin-top: 30px;
}

.dropdown button {
  background-color: white;
  border: 1px solid seagreen;
  border-radius: 5px;
  cursor: pointer;
  color: seagreen;
  padding: 10px;
}

.dropdown-menu {
  position: absolute;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 300ms 0ms ease-in-out;
}

.dropdown-menu ul {
  margin: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  padding: 0;
  width: 200px;
}

.dropdown-menu ul li {
  padding: 5px;
  display: inline;
  background-color: white;
  color: inherit;
}

.dropdown-menu ul li:hover {
  background-color: seagreen;
  color: white;
}

.dropdown-menu.show {
  max-height: 500px;
  visibility: visible;
}
